@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-GxyinBCccFYv: 16px;
  --plasmic-token-h-2: var(--token-GxyinBCccFYv);
  --token-cw_wuwDrqL5J: #2a2b37;
  --plasmic-token-neutral-900: var(--token-cw_wuwDrqL5J);
  --token-6oQjtVBZ76ko: #383848;
  --plasmic-token-neutral-800: var(--token-6oQjtVBZ76ko);
  --token-8vIS7NoRNCJb: #48485c;
  --plasmic-token-neutral-700: var(--token-8vIS7NoRNCJb);
  --token-qGEKm6zVQf1K: #5c5d76;
  --plasmic-token-neutral-600: var(--token-qGEKm6zVQf1K);
  --token-0LiEZIxKLO--: #656682;
  --plasmic-token-neutral-500: var(--token-0LiEZIxKLO--);
  --token-vDynysCrZ81W: #84859b;
  --plasmic-token-neutral-400: var(--token-vDynysCrZ81W);
  --token-0brKrAsfjGiA: #9898ab;
  --plasmic-token-neutral-300: var(--token-0brKrAsfjGiA);
  --token-9IwP4bkMapKC: #b8b9c6;
  --plasmic-token-neutral-200: var(--token-9IwP4bkMapKC);
  --token-5eW9iHlJOVvh: #cfd0d8;
  --plasmic-token-neutral-100: var(--token-5eW9iHlJOVvh);
  --token-nt1KIlO1S6fz: #f0f0f3;
  --plasmic-token-neutral-050: var(--token-nt1KIlO1S6fz);
  --token-FrwfWG_CZOKR: 14px;
  --plasmic-token-body-small: var(--token-FrwfWG_CZOKR);
  --token-EZlFsxe5l066: 20px;
  --plasmic-token-body-small-2: var(--token-EZlFsxe5l066);
  --token-B8ug2NXABmij: #01471e;
  --plasmic-token-success-text: var(--token-B8ug2NXABmij);
  --token-8ApRpfg3S2Fq: #dffbea;
  --plasmic-token-success-bg: var(--token-8ApRpfg3S2Fq);
  --token-CuYW8LUgBiy0: #aff5cb;
  --plasmic-token-success-200: var(--token-CuYW8LUgBiy0);
  --token-E3rAOXAj5Nge: #87efb1;
  --plasmic-token-success-300: var(--token-E3rAOXAj5Nge);
  --token-ErV_qqCNdJDf: #5fea97;
  --plasmic-token-success-400: var(--token-ErV_qqCNdJDf);
  --token-OYizoke062eH: #37e57d;
  --plasmic-token-success-500: var(--token-OYizoke062eH);
  --token-0DqYjN8oQeBD: #24bf63;
  --plasmic-token-success-600: var(--token-0DqYjN8oQeBD);
  --token-Da0z4qnaLear: #159649;
  --plasmic-token-success-700: var(--token-Da0z4qnaLear);
  --token-_YgeQg4va9OZ: #096e32;
  --plasmic-token-success-800: var(--token-_YgeQg4va9OZ);
  --token-Jsr37tX3IPh6: #d7faf8;
  --plasmic-token-secondary-100: var(--token-Jsr37tX3IPh6);
  --token-l_U7pr1aIhqs: #aff5f0;
  --plasmic-token-secondary-200: var(--token-l_U7pr1aIhqs);
  --token-kkhKbzJ6wrz_: #87efe8;
  --plasmic-token-secondary-300: var(--token-kkhKbzJ6wrz_);
  --token-Cymol2CPESqj: #5feae1;
  --plasmic-token-secondary-400: var(--token-Cymol2CPESqj);
  --token-0f0UVcmRGSEl: #37e5db;
  --plasmic-token-secondary-500: var(--token-0f0UVcmRGSEl);
  --token-17Z_x5blS7vB: #24bfb5;
  --plasmic-token-secondary-600: var(--token-17Z_x5blS7vB);
  --token-c0QSulePf6Q7: #15968e;
  --plasmic-token-secondary-700: var(--token-c0QSulePf6Q7);
  --token-e8prN6nf-WYJ: #096e67;
  --plasmic-token-secondary-800: var(--token-e8prN6nf-WYJ);
  --token-jUIMbrZU4Fvj: #014743;
  --plasmic-token-secondary-900: var(--token-jUIMbrZU4Fvj);
  --token-i930gtO5xmXl: #d8d8fa;
  --plasmic-token-primary-100: var(--token-i930gtO5xmXl);
  --token-fnZ-YrsYAWE7: #b0b1f4;
  --plasmic-token-primary-200: var(--token-fnZ-YrsYAWE7);
  --token-u8w1ejftyWWr: #898bef;
  --plasmic-token-primary-300: var(--token-u8w1ejftyWWr);
  --token-n4_GptOE1hGC: #6164e9;
  --plasmic-token-primary-400: var(--token-n4_GptOE1hGC);
  --token-RtncUAMH0ayI: #3a3de4;
  --plasmic-token-primary-500: var(--token-RtncUAMH0ayI);
  --token-TrgiorGJT_4E: #2225bf;
  --plasmic-token-primary-600: var(--token-TrgiorGJT_4E);
  --token-SCY7yLXlAJxa: #141696;
  --plasmic-token-primary-700: var(--token-SCY7yLXlAJxa);
  --token-e7IfypHDN_md: #08096e;
  --plasmic-token-primary-800: var(--token-e7IfypHDN_md);
  --token-l8J7E-BNidvn: #010347;
  --plasmic-token-primary-900: var(--token-l8J7E-BNidvn);
  --token-vPGnjkc8aQwa: #f2f3fd;
  --plasmic-token-primary-050: var(--token-vPGnjkc8aQwa);
  --token-eyjW8-Vv6Ro1: #faf6d7;
  --plasmic-token-warning-100: var(--token-eyjW8-Vv6Ro1);
  --token-F0li-3_qFgnO: #f5eeaf;
  --plasmic-token-warning-200: var(--token-F0li-3_qFgnO);
  --token-3N3y_eC8cFJt: #efe587;
  --plasmic-token-warning-300: var(--token-3N3y_eC8cFJt);
  --token-_Y3wAiChmCgH: #eadd5f;
  --plasmic-token-warning-400: var(--token-_Y3wAiChmCgH);
  --token-ohXXv_q8TTFz: #e5d437;
  --plasmic-token-warning-500: var(--token-ohXXv_q8TTFz);
  --token-nLVnQNRve-qL: #bfb024;
  --plasmic-token-warning-600: var(--token-nLVnQNRve-qL);
  --token-R378OsZ3cy5D: #998c15;
  --plasmic-token-warning-700: var(--token-R378OsZ3cy5D);
  --token-askKbCC7l4S4: #6e6408;
  --plasmic-token-warning-800: var(--token-askKbCC7l4S4);
  --token-Cv4sA88MAlgb: #383302;
  --plasmic-token-warning-900: var(--token-Cv4sA88MAlgb);
  --token-a7krExl4pijw: #fad7d7;
  --plasmic-token-danger-100: var(--token-a7krExl4pijw);
  --token-c46rAbVUx6ZW: #f18787;
  --plasmic-token-danger-300: var(--token-c46rAbVUx6ZW);
  --token-LbDQx0TuQhkT: #f6afaf;
  --plasmic-token-danger-200: var(--token-LbDQx0TuQhkT);
  --token-g8i_wke3AGY1: #ed6060;
  --plasmic-token-danger-400: var(--token-g8i_wke3AGY1);
  --token-ChzvZN_65C2y: #e83838;
  --plasmic-token-danger-500: var(--token-ChzvZN_65C2y);
  --token-O1zrsmp5Exis: #c22525;
  --plasmic-token-danger-600: var(--token-O1zrsmp5Exis);
  --token-pIlFpb9JjO1o: #9c1616;
  --plasmic-token-danger-700: var(--token-pIlFpb9JjO1o);
  --token-ELaPkxGQZEa5: #6b0707;
  --plasmic-token-danger-800: var(--token-ELaPkxGQZEa5);
  --token-KvEhq1EBr8aH: #360202;
  --plasmic-token-danger-900: var(--token-KvEhq1EBr8aH);
  --token-5nYkkhmh1Y86: #fdfdfd;
  --plasmic-token-neutral-0: var(--token-5nYkkhmh1Y86);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-OGBxQ63M82Ib_font-family: "Inter", sans-serif;
  --mixin-OGBxQ63M82Ib_font-size: 14px;
  --mixin-OGBxQ63M82Ib_font-weight: 400;
  --mixin-OGBxQ63M82Ib_font-style: normal;
  --mixin-OGBxQ63M82Ib_color: var(--token-0brKrAsfjGiA);
  --mixin-OGBxQ63M82Ib_text-align: left;
  --mixin-OGBxQ63M82Ib_text-transform: none;
  --mixin-OGBxQ63M82Ib_line-height: 21px;
  --mixin-OGBxQ63M82Ib_letter-spacing: -0.6%;
  --mixin-OGBxQ63M82Ib_white-space: pre-wrap;
  --mixin-OGBxQ63M82Ib_user-select: text;
  --mixin-OGBxQ63M82Ib_text-decoration-line: none;
  --mixin-OGBxQ63M82Ib_text-overflow: clip;
  --mixin-OQhJ-IhO--v7_color: var(--token-cw_wuwDrqL5J);
  --mixin-OQhJ-IhO--v7_font-weight: 600;
  --mixin-OQhJ-IhO--v7_font-size: 26px;
  --mixin-OQhJ-IhO--v7_line-height: 32px;
  --mixin-OQhJ-IhO--v7_letter-spacing: -1%;
  --mixin-OQhJ-IhO--v7_white-space: pre-wrap;
  --mixin-Z2dWJLbV_OzT_color: var(--token-cw_wuwDrqL5J);
  --mixin-Z2dWJLbV_OzT_font-size: 23px;
  --mixin-Z2dWJLbV_OzT_font-weight: 700;
  --mixin-Z2dWJLbV_OzT_line-height: 28px;
  --mixin-Z2dWJLbV_OzT_font-family: "Inter", sans-serif;
  --mixin-Z2dWJLbV_OzT_letter-spacing: -1%;
  --mixin-Z2dWJLbV_OzT_white-space: pre-wrap;
  --mixin-dtI9m1_Cfi2b_color: #0070f3;
  --mixin-dtI9m1_Cfi2b_white-space: pre-wrap;
  --mixin-Oq-Gocq1HO-H_color: var(--token-cw_wuwDrqL5J);
  --mixin-Oq-Gocq1HO-H_font-size: 20px;
  --mixin-Oq-Gocq1HO-H_font-weight: 700;
  --mixin-Oq-Gocq1HO-H_line-height: 24px;
  --mixin-Oq-Gocq1HO-H_letter-spacing: -1%;
  --mixin-Oq-Gocq1HO-H_font-family: "Inter", sans-serif;
  --mixin-Oq-Gocq1HO-H_white-space: pre-wrap;
  --mixin-bng04jcdqC3h_color: var(--token-cw_wuwDrqL5J);
  --mixin-bng04jcdqC3h_font-size: 18px;
  --mixin-bng04jcdqC3h_font-weight: 700;
  --mixin-bng04jcdqC3h_line-height: 24px;
  --mixin-bng04jcdqC3h_letter-spacing: -1%;
  --mixin-bng04jcdqC3h_font-family: "Inter", sans-serif;
  --mixin-bng04jcdqC3h_white-space: pre-wrap;
  --mixin-unaqWKC3AkvX_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-unaqWKC3AkvX_border-bottom-color: #dddddd;
  --mixin-unaqWKC3AkvX_border-bottom-style: solid;
  --mixin-unaqWKC3AkvX_border-bottom-width: 1px;
  --mixin-unaqWKC3AkvX_border-left-color: #dddddd;
  --mixin-unaqWKC3AkvX_border-left-style: solid;
  --mixin-unaqWKC3AkvX_border-left-width: 1px;
  --mixin-unaqWKC3AkvX_border-right-color: #dddddd;
  --mixin-unaqWKC3AkvX_border-right-style: solid;
  --mixin-unaqWKC3AkvX_border-right-width: 1px;
  --mixin-unaqWKC3AkvX_border-top-color: #dddddd;
  --mixin-unaqWKC3AkvX_border-top-style: solid;
  --mixin-unaqWKC3AkvX_border-top-width: 1px;
  --mixin-unaqWKC3AkvX_border-bottom-left-radius: 3px;
  --mixin-unaqWKC3AkvX_border-bottom-right-radius: 3px;
  --mixin-unaqWKC3AkvX_border-top-left-radius: 3px;
  --mixin-unaqWKC3AkvX_border-top-right-radius: 3px;
  --mixin-unaqWKC3AkvX_font-family: "Inconsolata";
  --mixin-unaqWKC3AkvX_padding-bottom: 1px;
  --mixin-unaqWKC3AkvX_padding-left: 4px;
  --mixin-unaqWKC3AkvX_padding-right: 4px;
  --mixin-unaqWKC3AkvX_padding-top: 1px;
  --mixin-unaqWKC3AkvX_white-space: pre-wrap;
  --mixin-hNSvjHlSG3xk_border-left-color: #dddddd;
  --mixin-hNSvjHlSG3xk_border-left-style: solid;
  --mixin-hNSvjHlSG3xk_border-left-width: 3px;
  --mixin-hNSvjHlSG3xk_color: #888888;
  --mixin-hNSvjHlSG3xk_padding-left: 10px;
  --mixin-hNSvjHlSG3xk_white-space: pre-wrap;
  --mixin-fNu56-fQTQlX_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-fNu56-fQTQlX_border-bottom-color: #dddddd;
  --mixin-fNu56-fQTQlX_border-bottom-style: solid;
  --mixin-fNu56-fQTQlX_border-bottom-width: 1px;
  --mixin-fNu56-fQTQlX_border-left-color: #dddddd;
  --mixin-fNu56-fQTQlX_border-left-style: solid;
  --mixin-fNu56-fQTQlX_border-left-width: 1px;
  --mixin-fNu56-fQTQlX_border-right-color: #dddddd;
  --mixin-fNu56-fQTQlX_border-right-style: solid;
  --mixin-fNu56-fQTQlX_border-right-width: 1px;
  --mixin-fNu56-fQTQlX_border-top-color: #dddddd;
  --mixin-fNu56-fQTQlX_border-top-style: solid;
  --mixin-fNu56-fQTQlX_border-top-width: 1px;
  --mixin-fNu56-fQTQlX_border-bottom-left-radius: 3px;
  --mixin-fNu56-fQTQlX_border-bottom-right-radius: 3px;
  --mixin-fNu56-fQTQlX_border-top-left-radius: 3px;
  --mixin-fNu56-fQTQlX_border-top-right-radius: 3px;
  --mixin-fNu56-fQTQlX_font-family: "Inconsolata";
  --mixin-fNu56-fQTQlX_padding-bottom: 3px;
  --mixin-fNu56-fQTQlX_padding-left: 6px;
  --mixin-fNu56-fQTQlX_padding-right: 6px;
  --mixin-fNu56-fQTQlX_padding-top: 3px;
  --mixin-fNu56-fQTQlX_white-space: pre-wrap;
  --mixin-qGSzMeg8gNJq_display: flex;
  --mixin-qGSzMeg8gNJq_flex-direction: column;
  --mixin-qGSzMeg8gNJq_align-items: stretch;
  --mixin-qGSzMeg8gNJq_justify-content: flex-start;
  --mixin-qGSzMeg8gNJq_list-style-position: outside;
  --mixin-qGSzMeg8gNJq_padding-left: 40px;
  --mixin-qGSzMeg8gNJq_position: relative;
  --mixin-qGSzMeg8gNJq_list-style-type: disc;
  --mixin-qGSzMeg8gNJq_white-space: pre-wrap;
  --mixin-Tt-xXL21SsPH_display: flex;
  --mixin-Tt-xXL21SsPH_flex-direction: column;
  --mixin-Tt-xXL21SsPH_align-items: stretch;
  --mixin-Tt-xXL21SsPH_justify-content: flex-start;
  --mixin-Tt-xXL21SsPH_list-style-position: outside;
  --mixin-Tt-xXL21SsPH_padding-left: 40px;
  --mixin-Tt-xXL21SsPH_position: relative;
  --mixin-Tt-xXL21SsPH_list-style-type: decimal;
  --mixin-Tt-xXL21SsPH_white-space: pre-wrap;
  --mixin-3rizg0JcR0Y5_color: var(--token-6oQjtVBZ76ko);
  --mixin-3rizg0JcR0Y5_font-size: 16px;
  --mixin-3rizg0JcR0Y5_font-weight: 600;
  --mixin-3rizg0JcR0Y5_line-height: 20px;
  --mixin-3rizg0JcR0Y5_letter-spacing: -1%;
  --mixin-3rizg0JcR0Y5_font-family: "Inter", sans-serif;
  --mixin-3rizg0JcR0Y5_white-space: pre-wrap;
  --mixin-whK0Ua7ZM_Rw_color: var(--token-cw_wuwDrqL5J);
  --mixin-whK0Ua7ZM_Rw_font-size: 14px;
  --mixin-whK0Ua7ZM_Rw_font-weight: 600;
  --mixin-whK0Ua7ZM_Rw_line-height: 20px;
  --mixin-whK0Ua7ZM_Rw_letter-spacing: 1%;
  --mixin-whK0Ua7ZM_Rw_font-family: "Inter", sans-serif;
  --mixin-whK0Ua7ZM_Rw_white-space: pre-wrap;
  --mixin-lhmms1sl2HHb_color: #3291ff;
  --mixin-lhmms1sl2HHb_white-space: pre-wrap;
  --mixin-5pj3sVz4uCdj_white-space: pre-wrap;
  --mixin-4ckfcvnbrLaH_color: var(--token-8vIS7NoRNCJb);
  --mixin-4ckfcvnbrLaH_font-family: "Inter", sans-serif;
  --mixin-4ckfcvnbrLaH_font-weight: 500;
  --mixin-4ckfcvnbrLaH_font-size: 16px;
  --mixin-4ckfcvnbrLaH_line-height: 24px;
  --mixin-4ckfcvnbrLaH_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-aq-26-QKWiWc_white-space: pre-wrap;
  --plasmic-mixin-label-m_white-space: var(--mixin-aq-26-QKWiWc_white-space);
  --mixin-pL7lyGHdVHV2_white-space: pre-wrap;
  --plasmic-mixin-label-s_white-space: var(--mixin-pL7lyGHdVHV2_white-space);
  --mixin-R6_kkbqVZJuP_box-shadow: 0px 12px 12px -6px #00000029,
    0px 0px 1px 0px #00000066;
  --plasmic-mixin-card-shadow_box-shadow: var(--mixin-R6_kkbqVZJuP_box-shadow);
  --mixin-R6_kkbqVZJuP_white-space: pre-wrap;
  --plasmic-mixin-card-shadow_white-space: var(
    --mixin-R6_kkbqVZJuP_white-space
  );
  --mixin-lE9h5JJQ8hJ2_white-space: pre-wrap;
  --plasmic-mixin-label-l_white-space: var(--mixin-lE9h5JJQ8hJ2_white-space);
  --mixin-xe11CPgaDjPI_white-space: pre-wrap;
  --plasmic-mixin-l-heading_white-space: var(--mixin-xe11CPgaDjPI_white-space);
  --mixin-TOSxBQDur4UP_box-shadow: 0px 0px 4px 0px #0000001a,
    0px 4px 16px 0px #00000033;
  --plasmic-mixin-card-component-shadow_box-shadow: var(
    --mixin-TOSxBQDur4UP_box-shadow
  );
  --mixin-TOSxBQDur4UP_white-space: pre-wrap;
  --plasmic-mixin-card-component-shadow_white-space: var(
    --mixin-TOSxBQDur4UP_white-space
  );
  --mixin-gckywpCGVH2w_white-space: pre-wrap;
  --plasmic-mixin-body_white-space: var(--mixin-gckywpCGVH2w_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-OGBxQ63M82Ib_font-family);
  font-size: var(--mixin-OGBxQ63M82Ib_font-size);
  font-weight: var(--mixin-OGBxQ63M82Ib_font-weight);
  font-style: var(--mixin-OGBxQ63M82Ib_font-style);
  color: var(--mixin-OGBxQ63M82Ib_color);
  text-align: var(--mixin-OGBxQ63M82Ib_text-align);
  text-transform: var(--mixin-OGBxQ63M82Ib_text-transform);
  line-height: var(--mixin-OGBxQ63M82Ib_line-height);
  letter-spacing: var(--mixin-OGBxQ63M82Ib_letter-spacing);
  white-space: var(--mixin-OGBxQ63M82Ib_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-OQhJ-IhO--v7_color);
  font-weight: var(--mixin-OQhJ-IhO--v7_font-weight);
  font-size: var(--mixin-OQhJ-IhO--v7_font-size);
  line-height: var(--mixin-OQhJ-IhO--v7_line-height);
  letter-spacing: var(--mixin-OQhJ-IhO--v7_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-Z2dWJLbV_OzT_color);
  font-size: var(--mixin-Z2dWJLbV_OzT_font-size);
  font-weight: var(--mixin-Z2dWJLbV_OzT_font-weight);
  line-height: var(--mixin-Z2dWJLbV_OzT_line-height);
  font-family: var(--mixin-Z2dWJLbV_OzT_font-family);
  letter-spacing: var(--mixin-Z2dWJLbV_OzT_letter-spacing);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-dtI9m1_Cfi2b_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-Oq-Gocq1HO-H_color);
  font-size: var(--mixin-Oq-Gocq1HO-H_font-size);
  font-weight: var(--mixin-Oq-Gocq1HO-H_font-weight);
  line-height: var(--mixin-Oq-Gocq1HO-H_line-height);
  letter-spacing: var(--mixin-Oq-Gocq1HO-H_letter-spacing);
  font-family: var(--mixin-Oq-Gocq1HO-H_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-bng04jcdqC3h_color);
  font-size: var(--mixin-bng04jcdqC3h_font-size);
  font-weight: var(--mixin-bng04jcdqC3h_font-weight);
  line-height: var(--mixin-bng04jcdqC3h_line-height);
  letter-spacing: var(--mixin-bng04jcdqC3h_letter-spacing);
  font-family: var(--mixin-bng04jcdqC3h_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-unaqWKC3AkvX_font-family);
  border-radius: var(--mixin-unaqWKC3AkvX_border-top-left-radius)
    var(--mixin-unaqWKC3AkvX_border-top-right-radius)
    var(--mixin-unaqWKC3AkvX_border-bottom-right-radius)
    var(--mixin-unaqWKC3AkvX_border-bottom-left-radius);
  padding: var(--mixin-unaqWKC3AkvX_padding-top)
    var(--mixin-unaqWKC3AkvX_padding-right)
    var(--mixin-unaqWKC3AkvX_padding-bottom)
    var(--mixin-unaqWKC3AkvX_padding-left);
  border-top: var(--mixin-unaqWKC3AkvX_border-top-width)
    var(--mixin-unaqWKC3AkvX_border-top-style)
    var(--mixin-unaqWKC3AkvX_border-top-color);
  border-right: var(--mixin-unaqWKC3AkvX_border-right-width)
    var(--mixin-unaqWKC3AkvX_border-right-style)
    var(--mixin-unaqWKC3AkvX_border-right-color);
  border-bottom: var(--mixin-unaqWKC3AkvX_border-bottom-width)
    var(--mixin-unaqWKC3AkvX_border-bottom-style)
    var(--mixin-unaqWKC3AkvX_border-bottom-color);
  border-left: var(--mixin-unaqWKC3AkvX_border-left-width)
    var(--mixin-unaqWKC3AkvX_border-left-style)
    var(--mixin-unaqWKC3AkvX_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-hNSvjHlSG3xk_color);
  padding-left: var(--mixin-hNSvjHlSG3xk_padding-left);
  border-left: var(--mixin-hNSvjHlSG3xk_border-left-width)
    var(--mixin-hNSvjHlSG3xk_border-left-style)
    var(--mixin-hNSvjHlSG3xk_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-fNu56-fQTQlX_font-family);
  border-radius: var(--mixin-fNu56-fQTQlX_border-top-left-radius)
    var(--mixin-fNu56-fQTQlX_border-top-right-radius)
    var(--mixin-fNu56-fQTQlX_border-bottom-right-radius)
    var(--mixin-fNu56-fQTQlX_border-bottom-left-radius);
  padding: var(--mixin-fNu56-fQTQlX_padding-top)
    var(--mixin-fNu56-fQTQlX_padding-right)
    var(--mixin-fNu56-fQTQlX_padding-bottom)
    var(--mixin-fNu56-fQTQlX_padding-left);
  border-top: var(--mixin-fNu56-fQTQlX_border-top-width)
    var(--mixin-fNu56-fQTQlX_border-top-style)
    var(--mixin-fNu56-fQTQlX_border-top-color);
  border-right: var(--mixin-fNu56-fQTQlX_border-right-width)
    var(--mixin-fNu56-fQTQlX_border-right-style)
    var(--mixin-fNu56-fQTQlX_border-right-color);
  border-bottom: var(--mixin-fNu56-fQTQlX_border-bottom-width)
    var(--mixin-fNu56-fQTQlX_border-bottom-style)
    var(--mixin-fNu56-fQTQlX_border-bottom-color);
  border-left: var(--mixin-fNu56-fQTQlX_border-left-width)
    var(--mixin-fNu56-fQTQlX_border-left-style)
    var(--mixin-fNu56-fQTQlX_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-qGSzMeg8gNJq_display);
  flex-direction: var(--mixin-qGSzMeg8gNJq_flex-direction);
  align-items: var(--mixin-qGSzMeg8gNJq_align-items);
  justify-content: var(--mixin-qGSzMeg8gNJq_justify-content);
  list-style-position: var(--mixin-qGSzMeg8gNJq_list-style-position);
  padding-left: var(--mixin-qGSzMeg8gNJq_padding-left);
  position: var(--mixin-qGSzMeg8gNJq_position);
  list-style-type: var(--mixin-qGSzMeg8gNJq_list-style-type);
  flex-column-gap: var(--mixin-qGSzMeg8gNJq_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-Tt-xXL21SsPH_display);
  flex-direction: var(--mixin-Tt-xXL21SsPH_flex-direction);
  align-items: var(--mixin-Tt-xXL21SsPH_align-items);
  justify-content: var(--mixin-Tt-xXL21SsPH_justify-content);
  list-style-position: var(--mixin-Tt-xXL21SsPH_list-style-position);
  padding-left: var(--mixin-Tt-xXL21SsPH_padding-left);
  position: var(--mixin-Tt-xXL21SsPH_position);
  list-style-type: var(--mixin-Tt-xXL21SsPH_list-style-type);
  flex-column-gap: var(--mixin-Tt-xXL21SsPH_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-3rizg0JcR0Y5_color);
  font-size: var(--mixin-3rizg0JcR0Y5_font-size);
  font-weight: var(--mixin-3rizg0JcR0Y5_font-weight);
  line-height: var(--mixin-3rizg0JcR0Y5_line-height);
  letter-spacing: var(--mixin-3rizg0JcR0Y5_letter-spacing);
  font-family: var(--mixin-3rizg0JcR0Y5_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-whK0Ua7ZM_Rw_color);
  font-size: var(--mixin-whK0Ua7ZM_Rw_font-size);
  font-weight: var(--mixin-whK0Ua7ZM_Rw_font-weight);
  line-height: var(--mixin-whK0Ua7ZM_Rw_line-height);
  letter-spacing: var(--mixin-whK0Ua7ZM_Rw_letter-spacing);
  font-family: var(--mixin-whK0Ua7ZM_Rw_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-lhmms1sl2HHb_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
  color: var(--mixin-4ckfcvnbrLaH_color);
  font-family: var(--mixin-4ckfcvnbrLaH_font-family);
  font-weight: var(--mixin-4ckfcvnbrLaH_font-weight);
  font-size: var(--mixin-4ckfcvnbrLaH_font-size);
  line-height: var(--mixin-4ckfcvnbrLaH_line-height);
}
